In [3]:
import pandas as pd
import os

In [4]:
os.getcwd()

'/Users/user/Desktop/CodeClan/loan_defaults_project/analysis'

In [5]:
loans_data_raw = pd.read_csv("../data/raw_data/lending_club_loans.csv").copy()
grades = pd.read_csv("../data/raw_data/grade_info.csv").copy()
statenames = pd.read_csv("../data/raw_data/state_names_info.csv").copy()
data_dictionary = pd.read_csv("../data/raw_data/LCDataDictionary.csv")

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (36,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
loans_data_raw.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501.0,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B2,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430.0,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C4,Ryder,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [7]:
grades.head(2)

  grade sub_grade
0     B        B2
1     C        C4

In [8]:
statenames.head(2)

  state_abb state_name
0        AL    Alabama
1        AK     Alaska

In [9]:
data_dictionary.head(2)

            LoanStatNew                                        Description
0        acc_now_delinq  The number of accounts on which the borrower i...
1  acc_open_past_24mths         Number of trades opened in past 24 months.

In [10]:
loans_data_raw.shape

(42538, 114)

In [11]:
with pd.option_context('display.max_rows', None, 'display.max_columns', 150):
    print(loans_data_raw.head(1))

          id  member_id  loan_amnt  funded_amnt  funded_amnt_inv       term  \
0  1077501.0  1296599.0     5000.0       5000.0           4975.0  36 months

  int_rate  installment sub_grade emp_title emp_length home_ownership  \
0   10.65%       162.87        B2       NaN  10+ years           RENT

   annual_inc verification_status   issue_d loan_status pymnt_plan  \
0     24000.0            Verified  Dec-2011  Fully Paid          n

                                                 url  \
0  https://lendingclub.com/browse/loanDetail.acti...

                                                desc      purpose     title  \
0  Borrower added on 12/22/11 > I need to upgrade...  credit_card  Computer

  zip_code addr_state    dti  delinq_2yrs earliest_cr_line  fico_range_low  \
0    860xx         AZ  27.65          0.0         Jan-1985           735.0

   fico_range_high  inq_last_6mths  mths_since_last_delinq  \
0            739.0             1.0                     NaN

   mths_since_last_record  open_acc  pub_rec  revol_bal revol_util  total_acc  \
0                     NaN       3.0      0.0    13648.0      83.7%        9.0

  initial_list_status  out_prncp  out_prncp_inv  total_pymnt  total_pymnt_inv  \
0               False        0.0            0.0  5863.155187          5833.84

   total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  \
0           5000.0         863.16                 0.0         0.0

   collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d  \
0                      0.0     Jan-2015           171.62          NaN

  last_credit_pull_d  last_fico_range_high  last_fico_range_low  \
0           Sep-2016                 744.0                740.0

   collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  \
0                         0.0                          NaN          1.0

  application_type  annual_inc_joint  dti_joint  verification_status_joint  \
0       INDIVIDUAL               NaN        NaN                        NaN

   acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  \
0             0.0           NaN          NaN          NaN         NaN

   open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  \
0          NaN          NaN                 NaN           NaN      NaN

   open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  \
0          NaN          NaN         NaN       NaN               NaN     NaN

   total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  \
0          NaN           NaN                   NaN          NaN

   bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  \
0             NaN      NaN                       0.0          0.0

   mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  \
0                 NaN                   NaN                    NaN

   mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  \
0             NaN       NaN                   NaN                       NaN

   mths_since_recent_inq  mths_since_recent_revol_delinq  \
0                    NaN                             NaN

   num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  \
0                    NaN             NaN              NaN          NaN

   num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  \
0        NaN        NaN            NaN            NaN                  NaN

   num_sats  num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  \
0       NaN               NaN           NaN                 NaN

   num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  \
0                 NaN             NaN               NaN                   0.0

   tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  \
0        0.0              NaN                NaN             NaN

   total_il_high_credit_limit
0                         NaN

In [12]:
for column in loans_data_raw:
    print(column)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
fico_range_low
fico_range_high
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit

In [13]:
loans_data_raw.columns[0:5]

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv'], dtype='object')

In [14]:
data_types = loans_data_raw.dtypes
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print('Data type of each column of Dataframe :')
    print(data_types)

Data type of each column of Dataframe :
id                                float64
member_id                         float64
loan_amnt                         float64
funded_amnt                       float64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                       float64
earliest_cr_line                   object
fico_range_low                    float64
fico_range_high                   float64
inq_last_6mths                    float64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                          float64
pub_rec                           float64
revol_bal                         float64
revol_util                         object
total_acc                         float64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
recoveries                        float64
collection_recovery_fee           float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
last_fico_range_high              float64
last_fico_range_low               float64
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                       float64
application_type                   object
annual_inc_joint                  float64
dti_joint                         float64
verification_status_joint         float64
acc_now_delinq                    float64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_il_6m                        float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                       float64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
dtype: object

In [15]:
list(loans_data_raw.columns)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [16]:
print(loans_data_raw.isnull().sum())

id                                3
member_id                         3
loan_amnt                         3
funded_amnt                       3
funded_amnt_inv                   3
                              ...
tax_liens                       108
tot_hi_cred_lim               42538
total_bal_ex_mort             42538
total_bc_limit                42538
total_il_high_credit_limit    42538
Length: 114, dtype: int64

In [17]:
loans_data_raw.describe(include = "all")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,4.253500e+04,4.253500e+04,42535.000000,42535.000000,42535.000000,42535,42535,42535.000000,42535,39909,...,0.0,0.0,0.0,0.0,41170.000000,42430.000000,0.0,0.0,0.0,0.0
unique,NaN,NaN,NaN,NaN,NaN,2,394,NaN,35,30446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,36 months,10.99%,NaN,B3,US Army,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,31534,970,NaN,2997,141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,6.645799e+05,8.257026e+05,11089.722581,10821.585753,10139.830603,NaN,NaN,322.623063,NaN,NaN,...,NaN,NaN,NaN,NaN,0.045227,0.000024,NaN,NaN,NaN,NaN
std,2.193022e+05,2.795409e+05,7410.938391,7146.914675,7131.686447,NaN,NaN,208.927216,NaN,NaN,...,NaN,NaN,NaN,NaN,0.208737,0.004855,NaN,NaN,NaN,NaN
min,5.473400e+04,7.047300e+04,500.000000,500.000000,0.000000,NaN,NaN,15.670000,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,4.983925e+05,6.384795e+05,5200.000000,5000.000000,4950.000000,NaN,NaN,165.520000,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,6.442500e+05,8.241780e+05,9700.000000,9600.000000,8500.000000,NaN,NaN,277.690000,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,8.258225e+05,1.033946e+06,15000.000000,15000.000000,14000.000000,NaN,NaN,428.180000,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,NaN,NaN,1305.190000,NaN,NaN,...,NaN,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,NaN,NaN

In [18]:
loans_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Columns: 114 entries, id to total_il_high_credit_limit
dtypes: float64(91), object(23)
memory usage: 37.0+ MB

In [19]:
# want to check how the loan count compares to the member count
loans_data_raw['id'].count() == loans_data_raw['member_id'].count()
# its the same as 42,535 records, so each row is a distinct loan from a distinct customer

True

In [20]:
# check each loan id is unique and each member id is unique
loans_data_raw['member_id'].describe()

count    4.253500e+04
mean     8.257026e+05
std      2.795409e+05
min      7.047300e+04
25%      6.384795e+05
50%      8.241780e+05
75%      1.033946e+06
max      1.314167e+06
Name: member_id, dtype: float64

In [21]:
# find duplicates across columns
duplicates = loans_data_raw.duplicated()
print(duplicates)

0        False
1        False
2        False
3        False
4        False
         ...
42533    False
42534    False
42535    False
42536     True
42537     True
Length: 42538, dtype: bool

In [22]:
loans_data_raw.tail(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
42535,70686.0,70681.0,5000.0,5000.0,0.0,36 months,7.75%,156.11,A3,Homemaker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
loans_data_raw[loans_data_raw['annual_inc'].isna()]
# only 4 rows with NaN, so will drop them

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
39786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42450,79967.0,79912.0,5000.0,5000.0,3025.0,36 months,7.43%,155.38,A2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42451,79924.0,79906.0,7000.0,7000.0,3450.0,36 months,7.75%,218.55,A3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42481,79893.0,79878.0,6700.0,6700.0,6700.0,36 months,7.75%,209.18,A3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42534,71623.0,70735.0,6500.0,6500.0,0.0,36 months,8.38%,204.84,A5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# dropping rows with NaN in the 'id' column
loans_data_raw.drop(index = [39786,42450, 42451, 42481, 42536,42534, 42537], inplace = True)

In [25]:
# find duplicates across columns
duplicates = loans_data_raw.duplicated()
print(duplicates)

0        False
1        False
2        False
3        False
4        False
         ...
42530    False
42531    False
42532    False
42533    False
42535    False
Length: 42531, dtype: bool

In [26]:
loans_data_raw['id'].isna().sum()

0

In [27]:
loans_data_raw[loans_data_raw['id'].isna()]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, ...]
Index: []

[0 rows x 114 columns]

In [28]:
loans_data_raw.isna().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                       101
tot_hi_cred_lim               42531
total_bal_ex_mort             42531
total_bc_limit                42531
total_il_high_credit_limit    42531
Length: 114, dtype: int64

In [29]:
# ideas for columns to drop
# 'emp_title' because it is free-text of employer and does not explain much
# 'url' a log-in credentials do not exist
# 'desc' because it is free-text user notes which cannot readily be processed statistically
# 'title' because it is free-text user notes which cannot readily be processed statistically
# 'zip_code' because it is impractical to do such a granular area analysis for the initial analysis
# 'dti_joint' because it has not been populated
# 'pymnt_plan' because all those in default go into a payment plan, so this is not a predictor of default
# 'mths_since_last_delinq' because 2/3 of the data is NaN

In [30]:
loans_data_raw['emp_length'].isna().sum() / loans_data_raw['emp_length'].count()
# need to decide what to do: (i) fill with average, or (ii) drop the rows

0.026847582027571888

In [31]:
# recode issue date into a year bucket column?

In [32]:
# check unique values of 'purpose column'

In [33]:
# recode 'emp_length' into time buckets

In [34]:
# do a bar chart of 'home_ownership'

In [35]:
loans_data_raw['verification_status'].isna().sum()

0

In [36]:
# do a bar chart of 'verification_status'
# maybe do bar charts showing, of those who repaid, and of those charged-off, showing verification status proprortions
loans_data_raw['verification_status'].unique()

array(['Verified', 'Source Verified', 'Not Verified'], dtype=object)

In [45]:
loans_data_raw['id'].unique().shape

(42531,)

In [ ]:
loans_data_raw['loan_status'].isna().sum()

In [ ]:
# need to consider how to classify this column, and if charge-off and default should be combined
loans_data_raw['loan_status'].unique()

In [ ]:
(loans_data_raw['loan_status'].value_counts() / loans_data_raw['loan_status'].count()) * 100

In [ ]:
loans_data_raw['delinq_2yrs'].isna().sum()

In [ ]:
(loans_data_raw['delinq_2yrs'].value_counts() / loans_data_raw['delinq_2yrs'].count()) * 100

In [ ]:
(loans_data_raw['pymnt_plan'].value_counts() / loans_data_raw['pymnt_plan'].count()) * 100
# the percentage on a payment plan is equal to those in default.  think it's worth dropping this column.

In [ ]:
# maybe drop the NaNs and recode into buckets
loans_data_raw['earliest_cr_line'].isna().sum()

In [ ]:
# replace 'fico_range_low' and 'fico_range_high' with a single average column of 'fico_score'

In [ ]:
# maybe drop the NaNs
loans_data_raw['inq_last_6mths'].isna().sum()

In [ ]:
# maybe drop the NaNs
loans_data_raw['pub_rec'].isna().sum()

In [ ]:
(loans_data_raw['pub_rec'].value_counts() / loans_data_raw['pub_rec'].count()) * 100